@model EmployeeManagement.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
}
<h2>Details</h2>

<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
    Email : @Model.Employee.Email
    </div>
    <div>
    Department : @Model.Employee.Department
    </div>
</body>

@section Scripts {
    <script src="~/js/customscript.js"></script>
}
